.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #ffffffff;
}

.BudgetContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.ValueLabel {
  color: #000000;
  font-family: 'Outfit', sans-serif;

}

.BudgetHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.BudgetHeadS {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  gap: 2.5rem;
}

.BudgetTitle {
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  color: #000000;
  font-weight: medium;
}

.TotalValue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Value {
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  color: #000000;
  font-weight: medium;
}

.FinishButton {
  width: 23em;
  height: 2.7rem;
  border-radius: 5px;
  background-color: #0bb07b;
  border: none;
  cursor: pointer;

  .buttonImage {
    display: none;
    padding-left: 0.9rem; // Esconde a imagem por padrão
  }

  .buttonText {
    display: block; // Mostra o texto por padrão
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-size: 16px;
    font-weight: medium;
  }

  @media (max-width: 768px) {
    .buttonImage {
      display: block; // Mostra a imagem em telas pequenas
    }

    .buttonText {
      display: none; // Esconde o texto em telas pequenas
    }
  }
}

.Notes {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 2.5rem;
}

.InputContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 4rem;
}

.InputField {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.FieldLabel {
  font-size: 14px;
  font-weight: medium;
  font-family: "Outfit", sans-serif;
  color: #404049;
  margin-bottom: -0.5rem;
}

.Field {
  width: 17.5rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: #f6f7fa;
  border-radius: 5px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.FieldSave {
  width: 26rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: #f6f7fa;
  border-radius: 5px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.FieldSmall {
  width: 8rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: #f6f7fa;
  border-radius: 5px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.Preview {
  font-size: 14px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: #404049;
  margin-bottom: 0.5rem;
}

.PreviewContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.PreviewImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.PreviewSize {
  font-size: 16px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: #404049;
  padding-bottom: 2rem;
}

.PreviewImg {
  width: 292px;
  height: 383px;
  margin-bottom: 1rem;
}

.Copy {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #404049;
}

.Copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .FinishButton {
    width: 3rem;
    border-radius: 1.5rem;
  }

  .BudgetTitle {
    font-size: 16px;
    max-width: 12rem;
  }

  .Copyright {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .Container {
    height: 100%;
  }

  .Value {
    font-size: 20px;
    color: #000000;

  }

  .InputContainer {
    flex-direction: column;
    margin-bottom: 0rem;
  }

  .PrintContainer {
    width: 23rem;
  }

  .FileSelectedName {
    width: 15rem;
  }

  .FileSelected {
    width: 23rem;
  }

  .FixedValue {
    width: 17.5rem;
  }

  .FieldSave {
    width: 17.5rem;
  }

  .InputField {
    width: 17.5rem;
    margin-top: 1rem;
  }

  .BudgetData {
    flex-direction: column;
    gap: 0;
  }

  .linhaData {
    display: none;
  }

  .SelectFieldPerson {
    width: 17.5rem;
  }

  .FieldSmall {
    width: 17.5rem;
  }

  .BudgetHeadO {
    display: none;
  }

  .FixedData {
    width: 17.5rem;
    height: 2.5rem;
  }

  .FixedDataMedium {
    width: 17.5rem;
    height: 2.5rem;
  }

  .FixedDataSmall {
    width: 17.5rem;
    height: 2.5rem;
  }

  .OrderAll {
    flex-direction: column;
  }

  .OrderData {
    flex-direction: column;
  }

  .ResName {
    font-size: 16px;
  }

  .WhatsButton {
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    gap: 1rem;
  }

  .WhatsImg {
    width: 40px;
    height: 40px;
  }

  .WhatsText {
    font-size: 16px;
  }

  .PdfButton {
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    gap: 1rem;
  }

  .PdfText {
    font-size: 16px;
  }

  .BudgetHead {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
  }

  .Preview {
    margin-top: 2rem;
  }

  .BudgetHeadS {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-left: 10px;
  }
}


@media (max-width: 430px) {
  .TotalValue {
    margin-right: -1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
  }

  .ValueLabel {
    font-size: 12px;
    color: #000000;

  }

  .Value {
    font-size: 16px;
    color: #000000;
  }

  .FinishButton {
    width: 3rem;
    border-radius: 1.5rem;
  }

  .BudgetTitle {
    font-size: 16px;
    max-width: 12rem;
  }

  .Copyright {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .Container {
    height: 100%;
  }



  .InputContainer {
    flex-direction: column;
    margin-bottom: 0rem;
  }

  .PrintContainer {
    width: 23rem;
  }

  .FileSelectedName {
    width: 15rem;
  }

  .FileSelected {
    width: 23rem;
  }

  .FixedValue {
    width: 17.5rem;
  }

  .FieldSave {
    width: 17.5rem;
  }

  .InputField {
    width: 17.5rem;
    margin-top: 1rem;
  }

  .BudgetData {
    flex-direction: column;
    gap: 0;
  }

  .linhaData {
    display: none;
  }

  .SelectFieldPerson {
    width: 17.5rem;
  }

  .FieldSmall {
    width: 17.5rem;
  }

  .BudgetHeadO {
    display: none;
  }

  .FixedData {

    width: 17.5rem;
    height: 2.5rem;
  }

  .FixedDataMedium {
    width: 17.5rem;
    height: 2.5rem;
  }

  .FixedDataSmall {
    width: 17.5rem;
    height: 2.5rem;
  }

  .OrderAll {
    flex-direction: column;
  }

  .OrderData {
    flex-direction: column;
  }

  .ResName {
    font-size: 16px;
  }

  .WhatsButton {
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    gap: 1rem;
  }

  .WhatsImg {
    width: 40px;
    height: 40px;
  }

  .WhatsText {
    font-size: 16px;
  }

  .PdfButton {
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    gap: 1rem;
  }

  .PdfText {
    font-size: 16px;

  }

  .BudgetHead {
    margin-top: 2.5rem;
  }

  .Preview {
    margin-top: 2rem;
  }
}