

.GridContainer{
  display: flex;
  flex:1;
  flex-direction: column;

}

.ColumnHeader{
  display: flex;
  flex: 1;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color:#404049;
  background-color: #F6F7FA;
  height: 45px;
  align-items: center;
}

.ColumnHeader2{
  display: flex;
  flex: 2;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color:#404049
}

.Column{
  display: flex;
  flex: 1;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  color:#404049;
  
}

.Column2{
  display: flex;
  flex: 2;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  color:#404049;
  
}

.Row{
  display: flex;
  flex:1;
  color: #000; 
  padding: 15px 0px;
  border: 1px sodid #DEE2ED!important;
}

.MarginRight {
  margin-right: 20px;
}


.RodapeContainer {
    display: flex;
      flex: 1;
      font-family: 'Outfit';
      font-style: normal;
      font-weight: 400;
      color: #404049;
      justify-items: center;
      align-items: center;
}

.SelectMax {
  font-family: 'Outfit';
  font-style: normal;
    font-weight: 600;
  height: 34px;
  background-color: #fff;
  color: #404049;
  border-radius: 5px;
  margin-left: 11px;
  margin-right: 11px;
  border:1px solid  rgba(143, 142, 145, 0.5);
}