.HeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  background-color: #0b0b0b;
  height: 20.75rem;
  width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.menuSamduba {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin-right: 5px;
}
.HeaderSearch {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.HeaderTextContainer {
  width: 50%;
  display: flex;
}

.HeaderTextTitle {
  font-family: "Syne";
  font-size: 26px;
  color: #fff;
}

.HeaderTextDescription {
  font-family: "Syne";
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
}

.HeaderContainerIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.HeaderIcon {
  margin-left: 16px;
}

.Close {
  width: 1.5rem;
  height: 1.5rem;
}

.NewBudget {
  color: #ffffff;
  font-size: 20px;
  font-weight: medium;
  font-family: "Syne", sans-serif;
}

@media (max-width: 768px) {
  .HeaderTextContainer {
    width: 100%;
  }
  #HeaderIcon {
    display: none;
    width: 1290192811px;
  }
}

@media (min-width: 768px) {
  .menuSamduba {
    display: none;
  }
}
