.HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  height: 4rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.Close {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.NewBudget {
  color: #ffffff;
  font-size: 20px;
  font-weight: medium;
  font-family: "Outfit", sans-serif;
}
.menuSamduba {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin-right: 5px;
}

@media (min-width: 768px) {
  .menuSamduba {
    display: none;
  }
}
