.HeaderContainer {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: flex-start;
  background-color: #000000;
  height: 20.75rem;
  width: 100%;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}
.menuSamduba {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  margin-right: 10px;
}

.HeaderSearch {
  display: flex;
  margin: 0 auto;
  width: 93%;
  align-items: center;
  justify-content: center;
}

.HeaderTextContainer {
  margin: 0 auto;
  width: 93%;
  display: flex;
  text-align: center;
  margin-top: 20px;
}

.HeaderTextTitle {
  font-family: "Outfit";
  font-size: 26px;
  margin: 0 auto;
  color: #fff;
  width: 90%;
  text-align: start;
}

.HeaderTextDescription {
  font-family: "Outfit";
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
  width: 100%;
  text-align: start;
}

.HeaderContainerIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.HeaderIcon {
  margin-left: 16px;
}

.Close {
  width: 1.5rem;
  height: 1.5rem;
}

.NewBudget {
  color: #ffffff;
  font-size: 20px;
  font-weight: medium;
  font-family: "Outfit", sans-serif;
}

@media (min-width: 768px) {
  .menuSamduba {
    display: none;
  }
}
@media (max-width: 768px) {
  .HeaderTextContainer {
    width: 100%;
    display: flex;
    margin-top: 10px;

    p {
      text-align: center;
    }
  }
  .HeaderTextTitle {
    margin-left: 37px;
    width: 50%;
    text-align: center;
  }
  #HeaderIcon {
    display: none;
    width: 1290192811px;
  }
}
