.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #ffffffff;
}

.ResultContainer {
  flex: 1;
  padding: 0px 22px;
  margin-top: -150px;
  justify-content: center;
  flex-direction: row;
  display: flex;
}

.CardsMenus {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.CardMenu {
  height: 212px;
  width: 276px;
  box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: white;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.CardMenuText {
  font-family: "DM Sans";
  font-size: 1rem;
  color: #404049;
  text-transform: uppercase;
  margin-top: 23px;
  font-weight: 500;
}

.OrderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.OrderDataContainer {
  margin-left: 1.5rem;
  margin-top: 4rem;
}

.BudgetContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.BudgetHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.BudgetHeadS {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.BudgetHeadO {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.BudgetData {
  display: flex;
  flex-direction: row;
  gap: 7rem;
}

.BudgetTitle {
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  color: #000000;
  font-weight: medium;
}

.BudgetSubTitle {
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: medium;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.TotalValue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Value {
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  color: #000000;
  font-weight: medium;
}

.ButtonsFinish {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.FinishButton {
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: medium;
  width: 23em;
  height: 2.7rem;
  border-radius: 5px;
  background-color: #0bb07b;
  border: none;
  cursor: pointer;
}

.SaveButton {
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: medium;
  width: 16.25rem;
  height: 2.7rem;
  border-radius: 5px;
  background-color: #0bb07b;
  border: none;
  cursor: pointer;
}

.CancelButton {
  color: #60616c;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  font-weight: medium;
  width: 6.25rem;
  height: 2.7rem;
  border-radius: 5px;
  background-color: #f6f5f7;
  border: none;
  cursor: pointer;
}

.Notes {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 2.5rem;
}

.InputContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}

.InputField {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
  gap: 1rem;
}

.InputFieldPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.FieldLabel {
  font-size: 14px;
  font-weight: medium;
  font-family: "Outfit", sans-serif;
  color: #404049;
  margin-bottom: -0.5rem;
}

.Field {
  width: 17.5rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: #f6f7fa;
  border-radius: 5px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.FieldSave {
  width: 26rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: #f6f7fa;
  border-radius: 5px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.FieldSmall {
  width: 8rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: #f6f7fa;
  border-radius: 5px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.FixedValue {
  padding-left: 1rem;
  padding-right: 12.5rem;
  padding-bottom: 0.55rem;
  padding-top: 0.55rem;
  background-color: #f6f7fa;
  border-radius: 5px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.FieldPreview {
  width: 7.5rem;
  height: 2.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f6f7fa;
  border-radius: 5px;
  border-color: #4040492d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.SelectField {
  width: 17.5rem;
  height: 2.5rem;
  padding-left: 1rem;
  background-color: #f6f7fa;
  border-radius: 5px;
  border-color: #4040492d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.SelectFieldPerson {
  width: 26rem;
  height: 2.5rem;
  padding-left: 1rem;
  background-color: #f6f7fa;
  border-radius: 5px;
  border-color: #4040492d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.Preview {
  font-size: 14px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: #404049;
  margin-bottom: 0.5rem;
}

.PreviewContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.PrintContainer {
  display: flex;
  flex-direction: column;
  width: 35rem;
  justify-content: flex-start;
  align-items: center;
  border: dashed 2px #888990;
  border-radius: 10px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.FileSelected {
  display: flex;
  flex-direction: column;
  width: 35rem;
  justify-content: flex-start;
  align-items: center;
  border: solid 2px #888990;
  border-radius: 10px;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

.PreviewImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.PreviewSize {
  font-size: 16px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: #404049;
  margin-bottom: 1rem;
}

.PreviewImg {
  width: 285px;
  height: 383px;
  margin-bottom: 1rem;
}

.Copy {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #404049;
}

.Copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.linhaSave {
  border: none;
  height: 1px;
  background-color: #ececf0;
  margin-top: 3rem;
  margin-bottom: 24px;
}

.linhaOrder {
  border: none;
  height: 1px;
  background-color: #ececf0;
  margin-top: -1rem;
  margin-bottom: 24px;
}

.linhaData {
  border: none;
  width: 1px;
  height: 36rem;
  background-color: #ececf0;
  margin-top: 3rem;
  margin-bottom: 24px;
}

.Upload {
  width: 34px;
  height: 34px;
}

.LabelUpload {
  font-size: 14px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  color: #404049;
}

.UploadButton {
  color: #0bb07b;
  border: solid 2px;
  border-color: #0bb07b;
  background-color: #fff;
  width: 20rem;
  height: 2rem;
  font-size: 14px;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

.UploadInfo {
  font-size: 12px;
  font-weight: medium;
  font-family: "Outfit", sans-serif;
  color: #888990;
}

.FileInfo {
  font-size: 12px;
  font-weight: medium;
  font-family: "Outfit", sans-serif;
  color: #3c3c3c;
}

.FileSelected {
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.FileSelectedName {
  width: 26.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.FileSelectedBar {
  border: none;
  height: 5px;
  background-color: #0bb07b;
  border-radius: 5px;
  margin-top: 5px;
}

.FileImg {
  width: 28px;
  height: 32px;
}

.FileDelete {
  width: 25px;
  height: 24px;
  cursor: pointer;
}

.Nav {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}

.NavItem {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #bab9be;
}

.NavItem.active {
  font-weight: 600;
  color: #7c0000;
  margin-bottom: 14px;
}

.NavItemBar {
  border: none;
  height: 3px;
  background-color: #7c0000;
  margin-bottom: -8px;
}

.OrderValue {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #7c0000;
  margin-right: 2rem;
  margin-left: -1.5rem;
}

.OrderTotalValue {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  margin-right: 2rem;
  margin-left: -1.5rem;
}

.ParamsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 30px;
}

.ParamsContainerSeparator {
  margin-right: 30px;
}

.Params {
  height: 45px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13.6px;
  text-transform: uppercase;
  display: flex;
}
.ParamsItemResult {
  color: #404049;
  background-color: #fff;
  border-radius: 10px;
  height: 59px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  padding-left: 32px;
}

.IconLeft {
  margin-right: 8px;
}

@media (max-width: 768px) {
  .Container {
    height: 1500px;
  }
  .ResultContainer {
    width: 100%;

    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
  }
  .ParamsContainer {
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
  }
  .Params {
    color: black;

    #IconLeft {
      background-color: rgb(0, 0, 0);
    }
  }
}
