.searchContainer {
  display: flex;
  background-color: #7c0000;
  padding: 24px 16px;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  height: 48px;
  width: 422px;
}

.searchIcon {
  margin-right: 10px;
  color: white;
  height: 16px;
  width: 16px;
}

.searchInput {
  background-color: transparent;
  font-family: "Outfit";
  color: white;
  border: none;
  outline: none;
  fill: white;
  &::placeholder {
    color: white;
  }
  width: 100%;
  font-size: 16px;
}

@media (max-width: 768px) {
  .searchContainer {
    width: 100%;
    font-size: 10px;
    input::placeholder {
      width: 140px;
      height: 50%;
      font-family: "Outfit";
      font-style: normal;
      font-weight: 300;
      font-size: 10px;
      line-height: 62px;
      display: flex;
      align-items: center;
      color: #ffffff;
      opacity: 0.8;
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }
}
