 .searchContainer {
   display: flex;
   background-color: #7C0000;
   padding:24px 16px;
   align-items: center;
   border: 1px solid rgba(255, 255, 255, 0.6);
   border-radius: 4px;
   height: 48px;
   width: 422px;
 }

 .searchIcon {
   margin-right: 10px;
   color: white;
   height: 16px;
   width: 16px;
 }

 .searchInput {
   background-color: transparent;
   font-family: 'Outfit';
   color: white;
   border: none;
   outline: none;
   fill: white;
   &::placeholder {
        color: white;
      }
  width: 100%;
  font-size: 16px;

 }

