.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

}

.ImageContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 1024;
  background-image: url('/fundoLogin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.LoginContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.Login {
  display: flex;
  flex-direction: column;
}

.sign {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.logo {
  margin-top: 36px;
  margin-left: 24px;
  height: 150.43px;
  width: 189.7px;
}

.Social {
  display: flex;
  flex-direction: row;
  margin-left: 47px;
  margin-top: 40.20rem;
  gap: 24px;
  margin-bottom: 3.75rem;
}

.title {
  font-family: 'Outfit', sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 16px;
}

.subtitle {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: medium;
  color: #000;
  margin-bottom: 32px;
}

.label {
  font-family: 'Outfit', sans-serif;
  font-size: 14px;
  font-weight: medium;
  color: #000;
  margin-bottom: 6px;
}

.forget {
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  text-decoration: underline;
  font-weight: medium;
  color: #000;
  margin-bottom: 72px;
}

.field {
  width: 27.6em;
  height: 2.7rem;
  border-radius: 5px;
  background-color: #F6F7FA;
  border: solid 1px #40404941;
  margin-bottom: 20px;
}

.button {
  color: #fff;
  font-family: 'Outfit', sans-serif;
  font-size: 16px;
  font-weight: 600;
  width: 23em;
  height: 2.7rem;
  border-radius: 5px;
  background-color: #0BB07B;
  margin-bottom: 66px;
  border: none;
}

.signNew {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  font-weight: medium;
  color: #000;

}

.create {
  font-family: 'Outfit', sans-serif;
  font-size: 18px;
  text-decoration: underline;
  font-weight: medium;
  color: #0BB07B;
}

.linha {
  border: none;
  height: 1px;
  background-color: #ECECF0;
  margin-bottom: 24px;


}