.Container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  min-height: 100vh;
}

.ImageContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100vh;
  animation: changeBackground 15s infinite ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  padding-left: 40px;
  background-position: center;

  @keyframes changeBackground {
    0% {
      background-image: url("/login1.png");
    }
    33% {
      background-image: url("/login2.png");
    }
    66% {
      background-image: url("/login3.png");
    }
    100% {
      background-image: url("/login1.png");
    }
  }
}

.LoginContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  min-height: 100vh;

  @media only screen and (min-width: 1440px) {
    margin-right: max(0px, (100% - 1440px)/2);
  }

  @media only screen and (max-width: 768px) {
    align-items: flex-start;
    margin-top: 38px;
  }
}

.Login {
  display: flex;
  flex-direction: column;
}

.sign {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.logo {
  margin-top: 36px;
  margin-left: 47px;
  height: 150.43px;
  width: 189.7px;

  @media only screen and (min-width: 1440px) {
    margin-left: max(0px, (100% - 750px)/2);
  }
}

.Social {
  display: flex;
  flex-direction: row;
  margin-left: 47px;
  gap: 24px;
  margin-bottom: 3.75rem;

  @media only screen and (min-width: 1440px) {
    margin-left: max(0px, (100% - 750px)/2);
  }
}

.title {
  font-family: "Syne", sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: #000;
  margin-bottom: 16px;
}

.subtitle {
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: medium;
  color: #000;
  margin-bottom: 32px;
}

.label {
  font-family: "Syne", sans-serif;
  font-size: 14px;
  font-weight: medium;
  color: #000;
  margin-bottom: 6px;
}

.forget {
  font-family: "Syne", sans-serif;
  font-size: 16px;
  text-decoration: underline;
  font-weight: medium;
  color: #000;
  margin-bottom: 72px;
}

.field {
  width: 27.6rem;
  padding-left: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 15px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;

  outline: none;

  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.button {
  color: #fff;
  font-family: "Syne", sans-serif;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  height: 3.5rem;
  border-radius: 15px;
  background-color: #0047ad;
  margin-bottom: 66px;
  border: none;
  cursor: pointer;

  margin-top: 1.5rem;

  &:hover {
    background-color: #013d91;
  }
}

.signNew {
  font-family: "Syne", sans-serif;
  font-size: 18px;
  font-weight: medium;
  color: #969696;

  @media only screen and (max-width: 768px) {
    font-size: 14px;
  }
}

.create {
  font-family: "Syne", sans-serif;
  font-size: 18px;
  text-decoration: underline;
  font-weight: medium;
  color: #0047ad;
}

.linha {
  border: none;
  height: 1.1px;
  background-color: #ececf0;
  margin-bottom: 24px;
}

.erro {
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ff0000;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .Container {
    flex-direction: column;
  }

  .ImageContainer {
    width: 100%;
    height: 22rem;
    min-height: 14rem;
    background-color: #404049;

    background-image: url("/login1.png");
    background-position: center;

    align-items: center;
    justify-content: center;

    img {
      display: none;
    }
  }

  .button {
    font-size: 16px;
    margin-top: 1.5rem;
  }

  .LoginContainer {
    width: 100%;
    height: 700px;

    .Login {
      margin: 0 auto;
      width: 80%;

      input {
        width: 85%;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
    .button {
      width: 100%;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.logoMobilelogin {
  object-fit: cover;

  align-self: flex-start;
  padding-left: 2.5rem;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .LoginContainer {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .field {
    width: 22em;
  }

  .button {
    width: 19.5em;
  }
}
