.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: #ffffffff;
}

.openMediaLink {
  color: #fff;
  padding: 0.6rem 3rem;
  background-color: #000000;
  border-radius: 8px;

  text-align: center;
  font-family: "Syne", sans-serif;

  max-width: 17.5rem;

  margin-bottom: 1rem;
}

.BudgetContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.BudgetHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.BudgetHeadS {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.week {
  display: flex;
  flex-direction: column;

  padding: 2rem;

  border: 1px solid #939393;
  border-radius: 1rem;

  gap: 2rem;

  margin-bottom: 3rem;
}

.day {
  display: flex;
  flex-direction: column;

  padding-bottom: 0.5rem;

  border-bottom: 1px solid #939393;

  .dayTitle {
    font-family: "Syne", sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: 600;

    margin-bottom: 1rem;
  }
}

.BudgetTitle {
  font-family: "Syne", sans-serif;
  font-size: 26px;
  color: #000000;
  font-weight: 600;
}

.TankTitle {
  font-family: "Syne", sans-serif;
  font-size: 20px;
  color: #000000;
  font-weight: 500;
  margin-top: 2rem;
}

.TotalValue {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Value {
  font-family: "Syne", sans-serif;
  font-size: 26px;
  color: #000000;
  font-weight: 500;
}

.totalDischarge {
  font-family: "Syne", sans-serif;
  font-size: 20px;
  color: #0bb07b;
  font-weight: 500;

  margin-bottom: 1.5rem;

  @media (max-width: 768px) {
    margin-top: 1.5rem;
    max-width: 16rem;
    font-size: 18px;
  }
}

.FinishButton {
  width: 23em;
  height: 2.7rem;
  border-radius: 1rem;
  background-color: #000000;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  .buttonImage {
    display: none;
  }

  .buttonText {
    display: block; // Mostra o texto por padrão
    color: #fff;
    font-family: "Syne", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  @media (max-width: 768px) {
    .buttonImage {
      display: block;
    }

    .buttonText {
      display: none; // Esconde o texto em telas pequenas
    }
  }
}

.NewButton {
  width: 21em;
  height: 2.7rem;
  border-radius: 10px;
  background-color: #0bb07b;
  border: none;
  cursor: pointer;

  margin-top: 2rem;

  .buttonText {
    display: block; // Mostra o texto por padrão
    color: #fff;
    font-family: "Syne", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}

.locationButton {
  width: 18.5em;
  height: 2.5rem;
  border-radius: 10px;
  background-color: #000000;
  border: none;
  cursor: pointer;

  color: #fff;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.DeleteButton {
  width: 21em;
  height: 2.7rem;
  border-radius: 10px;
  background-color: #b00b0b;
  border: none;
  cursor: pointer;

  margin-top: 1.5rem;

  .buttonText {
    display: block; // Mostra o texto por padrão
    color: #fff;
    font-family: "Syne", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
}

.locText {
  display: block; // Mostra o texto por padrão
  color: #fff;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 500;

  color: #b00b0b;
}

.Notes {
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  margin-bottom: 2.5rem;

  max-width: 25%;
}

.InputContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 2rem;
}

.InputField {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 0.5rem;
}

.InputFieldPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.FieldLabel {
  font-size: 14px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  color: #404049;
  margin-bottom: -0.5rem;

  text-align: start;
}

.imageStyle {
  max-width: 17.5rem;
  height: auto;
  border: 1px solid #939393;
  border-radius: 20px;
}

@media (max-width: 767px) {
  .imageStyle {
    margin-top: 2rem;
  }
}

.fileName {
  font-size: 14px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  color: #0bb07b;

  text-align: start;

  margin-top: 1rem;
  margin-bottom: 1.5rem;

  max-width: 17.5rem;
}

.TextArea {
}

.Field {
  width: 18.5rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.FieldSave {
  width: 26rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.FieldSmall {
  width: 8rem;
  height: 2.5rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  border: solid 1px;
  border-color: #4040492d;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.FieldPreview {
  width: 7.5rem;
  height: 2.5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 12px;
  border-color: #4040492d;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.SelectField {
  width: 18.5rem;
  height: 2.5rem;
  padding-left: 1rem;
  background-color: #fff;
  border-radius: 12px;
  border-color: #4040492d;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.SelectFieldSearch {
  width: 18.5rem;
  height: 2.5rem;
  background-color: #fff;
  border-radius: 16px;
  border-color: #4040492d;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #404049;
}

.MidiaField {
  width: 17.5rem;
  height: 2.5rem;
  background-color: #000000;
  border-radius: 5px;
  border-color: #4040492d;
  font-family: "Syne", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;

  text-align: left;

  padding-left: 1rem;
}

.MidiaField::placeholder {
  color: #fff;
}

.Preview {
  font-size: 14px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  color: #404049;
  margin-bottom: 0.5rem;
}

.logoTitle {
  font-size: 20px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  color: #404049;
  margin-bottom: 0.5rem;
}

.PreviewContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.PreviewImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.PreviewSize {
  font-size: 16px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  color: #404049;
  margin-bottom: 1rem;
}

.PreviewImg {
  width: 285px;
  height: 383px;
  margin-bottom: 1rem;
}

.Copy {
  font-family: "Syne", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #404049;
}

.Copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 24rem;
  margin-bottom: 6rem;
}

.PrintContainer {
  display: flex;
  flex-direction: column;
  width: 35rem;
  justify-content: flex-start;
  align-items: center;
  border: dashed 2px #888990;
  border-radius: 10px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.FileSelected {
  display: flex;
  flex-direction: column;
  width: 35rem;
  justify-content: flex-start;
  align-items: center;
  border: solid 2px #888990;
  border-radius: 10px;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 1rem;
}

.PreviewImgContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.PreviewSize {
  font-size: 16px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  color: #404049;
  margin-bottom: 1rem;
}

.PreviewImg {
  width: 285px;
  height: 383px;
  margin-bottom: 1rem;
}

.Upload {
  width: 34px;
  height: 34px;
}

.LabelUpload {
  font-size: 14px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  color: #404049;
}

.UploadButton {
  color: #0bb07b;
  border: solid 2px;
  border-color: #0bb07b;
  background-color: #fff;
  width: 20rem;
  height: 2rem;
  font-size: 14px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  border-radius: 5px;
  cursor: pointer;
}

.UploadInfo {
  font-size: 12px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  color: #888990;
}

.FileInfo {
  font-size: 12px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  color: #3c3c3c;
}

.FileSelected {
  display: flex;
  flex-direction: row;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.FileSelectedName {
  width: 26.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.FileSelectedBar {
  border: none;
  height: 5px;
  background-color: #0bb07b;
  border-radius: 5px;
  margin-top: 5px;
}

.FileImg {
  width: 28px;
  height: 32px;
}

.FileDelete {
  width: 25px;
  height: 24px;
  cursor: pointer;
}

.userContent {
  display: flex;
  flex-direction: row;

  gap: 6rem;
}

.logoDef {
  height: 280px;
  width: 280px;

  margin-top: 1rem;
  margin-bottom: 2rem;

  padding: 12px;

  border: dashed 2px #888990;
  border-radius: 10px;
}

.titleTank {
  font-size: 18px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  color: #404049;
  margin-bottom: 1rem;
  margin-top: 2rem;

  text-align: start;
}

.buttonTask {
  font-size: 16px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  color: #ffffff;
}

@media (max-width: 430px) {
  .FinishTask {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: white;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Sombra projetada para cima */
    padding: 1rem;
    text-align: center;
    z-index: 100; /* Certifique-se de que está acima de outros elementos */

    margin-left: -2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .FinishButton {
    border-radius: 1.5rem;

    gap: 1rem;
  }

  .buttonTask {
    font-size: 16px;
    font-weight: 600;
    font-family: "Syne", sans-serif;
    color: #ffffff;
  }

  .week {
    display: flex;
    flex-direction: column;

    padding: 1rem;

    border: 1px solid #939393;
    border-radius: 1rem;

    gap: 2rem;
  }

  .day {
    padding-bottom: 2rem;
  }

  .Notes {
    max-width: 80%;
  }
  .userContent {
    flex-direction: column;
  }

  .BudgetTitle {
    font-size: 20px;
    max-width: 14rem;

    margin-top: 2rem;
  }

  .Copyright {
    margin-top: 18rem;
    margin-bottom: 2rem;
  }

  .Container {
    height: 1250px;
  }

  .Value {
    font-size: 20px;
    color: #000000;
  }

  .InputContainer {
    flex-direction: column;
    margin-bottom: 0rem;
  }

  .InputContainer2 {
    flex-direction: column;
    margin-bottom: 0rem;
  }

  .PrintContainer {
    width: 23rem;
  }

  .userImage {
    margin-top: -4rem;
  }

  .FileSelectedName {
    width: 15rem;
  }

  .FileSelected {
    width: 23rem;
  }

  .FixedValue {
    width: 17.5rem;
  }

  .FieldSave {
    width: 17.5rem;
  }

  .InputField {
    width: 17.5rem;
    margin-top: 1rem;
  }

  .BudgetData {
    flex-direction: column;
    gap: 0;
  }

  .linhaData {
    display: none;
  }

  .SelectFieldPerson {
    width: 17.5rem;
  }

  .PrintContainer {
    width: 21rem;
  }

  .FileSelectedName {
    width: 15rem;
  }

  .FileSelected {
    width: 23rem;
  }

  .FieldSmall {
    width: 17.5rem;
  }

  .BudgetHeadO {
    display: none;
  }

  .FixedData {
    width: 17.5rem;
    height: 2.5rem;
  }

  .FixedData500 {
    width: 17.5rem;
    height: 2.5rem;
  }

  .FixedDataSmall {
    width: 17.5rem;
    height: 2.5rem;
  }

  .OrderAll {
    flex-direction: column;
  }

  .OrderData {
    flex-direction: column;
  }

  .ResName {
    font-size: 16px;
  }

  .WhatsButton {
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    gap: 1rem;
  }

  .WhatsImg {
    width: 40px;
    height: 40px;
  }

  .WhatsText {
    font-size: 16px;
  }

  .PdfButton {
    flex-direction: row;
    margin-top: 3rem;
    margin-left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    gap: 1rem;
  }

  .PdfText {
    font-size: 16px;
  }

  .BudgetHead {
    margin-top: 2.5rem;
  }

  .Preview {
    margin-top: 2rem;
  }

  .PreviewContainer {
    margin-top: 3rem;
  }

  .FieldPreview {
    width: 4rem;
    margin-left: -2rem;
  }

  .PreviewImg {
    width: 10rem;
    height: 14rem;
  }
}
