.sideMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #000;
  width: 15rem;
  height: 100%;
  min-height: 100vh;

  border-right: 1px solid #5c5c5c;
}

.Steps {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  color: #cdcdcd;
  font-size: 14px;
  font-family: "Syne", sans-serif;
}

.Click {
  margin-left: 16px;
  margin-bottom: 1rem;
  font-size: 12px;
  font-family: "Syne", sans-serif;
  color: black;
}

.MenuNavigate {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
  cursor: pointer;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  &.active {
    background-color: #c6c6c617;

    .NavigateItem {
      color: #b5b5ba;
    }
  }

  &:hover {
    background-color: #c6c6c617;

    .NavigateItem {
      color: #b5b5ba;
    }
  }
}

.MenuNavigateEnd {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1rem;
  cursor: pointer;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  margin-top: 2rem;

  &.active {
    background-color: #c6c6c617;

    .NavigateItem {
      color: #b5b5ba;
    }
  }

  &:hover {
    background-color: #c6c6c617;

    .NavigateItem {
      color: #b5b5ba;
    }
  }
}

.NavigateItem {
  font-size: 16px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  color: #b5b5ba79;
}

.NavigateItemEnd {
  font-size: 16px;
  font-weight: 500;
  font-family: "Syne", sans-serif;
  color: #b5b5ba;
  margin-left: 1.5rem;
}

.Pointer {
  width: 16px;
  height: 16px;
  margin-left: 1.5rem;

  fill: #404049;
}

.PointerEnd {
  width: 16px;
  height: 16px;
}

.Logo {
  width: 110px;
  height: 110px;
  margin-left: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.topMenu {
  display: flex;
  flex-direction: column;
}

.closeMenu {
  display: none;
}

.linha {
  border: none;
  height: 1px;
  background-color: #e4e5eb;
  margin-top: 0.5rem;
  margin-bottom: 0.5px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.divFlex {
  display: flex;
}

.divNone {
  left: 100;
  position: relative;
  display: none;
  width: 1000px;
  height: 100%;
  background-color: #000000;
}

@media (max-width: 768px) {
  .sideMenu {
    display: none;
  }
}

.sideMenuClose {
  z-index: 999;
  display: flex;
  position: relative;
  // top: 0;
  // left: 0;
  // width: 60%;
  // height: 100%;
  // z-index: 9999;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.425);
}

@media (max-width: 430px) {
  .sideMenu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    z-index: 9999;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0%);
    box-shadow: 0 0 300px rgba(0, 0, 0);
  }

  .sideMenuClose {
    transform: translateX(-160%);
  }

  .closeMenu {
    display: block;
    margin-left: 1rem;
    margin-right: -1rem;
    margin-top: 1rem;
    margin-bottom: -1rem;
    width: 32px;
    height: 32px;
  }

  .divNone {
    display: flex;
    width: 2000px;
    color: transparent;
    background-color: transparent;
  }
}
