.tableContianer {
  width: 100%;
  height: auto;
  overflow-x: auto;
}
.table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
}
.table thead {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableHeader {
  height: 100%;
  background-color: #f6f7fa;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #404049;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin: 0 auto;
  th {
    width: 250px;
    padding: 8px;
    border: 0px solid #ddd;
    height: 45px;
    display: flex;
    align-items: center;
  }
}
.table .budgetItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3px;

  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    height: 60px;
    color: #404049;
    font-family: "Outfit";
    font-style: normal;
    text-align: start;
    align-items: center;
    margin: 6px auto;
  }
}

.td {
  width: 250px;
}

.table tbody {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .table {
    overflow-x: auto;
    display: block;
  }
}

.RodapeContainer {
  display: flex;
  flex: 1;
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  color: #404049;
  justify-items: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 5px;
}

.RodapeContinaerLeft {
  display: flex;
  flex: 1;
  align-items: center;
}

.RodapeContinaerRight {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.RodapePaginacaoIcone {
  transform: scale(0.2);
}

.RodapePaginacaoContador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgba(143, 142, 145, 0.4);
  cursor: pointer;
  margin-right: 8px;
}

.RodapePaginacaoContadorSemBorda {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 35px;
  border: none;
  margin-right: 8px;
  cursor: pointer;
}

.RodapePaginacaoContadorDestaque {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-right: 8px;
  background-color: #d0d4dd;
  color: #7c0000;
  font-weight: bold;
  cursor: pointer;
}

.SelectMax {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  height: 34px;
  background-color: #fff;
  color: #404049;
  border-radius: 5px;
  margin-left: 11px;
  margin-right: 11px;
  border: 1px solid rgba(143, 142, 145, 0.5);
}

.badge {
  color: #4a4aff;
  background-color: #dee2ed;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.badgeInativo {
  color: #f92c38;
  background-color: rgba(249, 44, 56, 0.24);
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 50px;
}

.marginRight8 {
  margin-right: 8px;
}

.dataCadastro {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #404049;
  height: 30px;
  p {
    margin-top: 10px;
  }
}

.diasUteis {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #404049;
}
